---
import type { FavoritesSection } from '@/types/sections/favorites-section.types';

import FavoriteTile from './favorite-tile.astro';
import SectionCard from '@/web/components/section-card.astro';
import FavoritesSubSection from './favorites-sub-section.astro';

export interface Props extends FavoritesSection {
  favorites?: Array<{
    title: string;
    size: 'tall' | 'square' | 'wide';
    items: Array<{
      title: string;
      subtitle?: string;
      image: any;
      url: string;
    }>;
  }>;
}

const { config, favorites = [] } = Astro.props;
---

<SectionCard {...config}>
  <div class="flex flex-col gap-16">
    {
      favorites.map((section) => (
        <FavoritesSubSection title={section.title} size={section.size} count={section.items.length}>
          {section.items.map((item) => (
            <FavoriteTile {...item} size={section.size} />
          ))}
        </FavoritesSubSection>
      ))
    }
  </div>
</SectionCard>
