---
import type { SkillLevel } from '@/types/sections/skills-section.types';

export interface Props {
  skillLevel: SkillLevel;
  tileLevel: SkillLevel;
}

const { skillLevel, tileLevel } = Astro.props;

const isFilled = skillLevel >= tileLevel;
const classes = /* tw */ {
  filled: 'bg-primary-500 dark:bg-primary-600',
  empty: 'bg-secondary-200 dark:bg-secondary-900',
};
---

<div
  class:list={[
    'h-2 w-1/5 min-w-9 first:rounded-l-sm first:rounded-r-none last:rounded-l-none last:rounded-r-sm',
    isFilled ? classes.filled : classes.empty,
  ]}
>
</div>
