---
import type { Config, Sections } from '@/types/data';
import Head from '@/web/head/head.astro';
import '@/index.css';

export interface Props extends Config {
  sections: Sections;
}

const { meta, i18n, sections } = Astro.props;
---

<!doctype html>
<html lang={i18n.locale.code} class="scroll-smooth">
  <Head meta={meta} sections={sections} />
  <body class="flex justify-center overflow-x-hidden bg-primary-100 dark:bg-primary-900 xl:relative xl:left-7">
    <slot />
  </body>
</html>
