---
import Fonts from '@/components/fonts.astro';
import Footer from '@/pdf/components/footer.astro';
import EducationSection from '@/pdf/sections/education-section.pdf.astro';
import ExperienceSection from '@/pdf/sections/experience-section.pdf.astro';
import MainSection from '@/pdf/sections/main-section.pdf.astro';
import PortfolioSection from '@/pdf/sections/portfolio-section.pdf.astro';
import SkillsSection from '@/pdf/sections/skills-section.pdf.astro';
import TestimonialsSection from '@/pdf/sections/testimonials-section.pdf.astro';
import FavoritesSection from '@/pdf/sections/favorites-section.pdf.astro';
import '@/index.css';

import cv from '@/data';
import { hideSection } from '@/data/_internals/transformers';

const { config, sections } = await cv(hideSection('favorites'));

const shouldRenderSection = (section: keyof typeof sections) => sections[section] && sections[section].config.visible;
---

<!doctype html>
<html lang={config.i18n.locale.code}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>PDF preview</title>
    <Fonts />
    <style is:global>
      @page {
        margin: 10mm;
      }
    </style>
  </head>
  <body class="flex flex-col bg-white">
    {
      shouldRenderSection('main') && (
        <div class="mb-2">
          <MainSection {...sections.main} />
        </div>
      )
    }
    {
      shouldRenderSection('skills') && (
        <div class="mb-2">
          <SkillsSection {...sections.skills} />
        </div>
      )
    }
    {
      shouldRenderSection('experience') && (
        <div>
          <ExperienceSection {...sections.experience} />
        </div>
      )
    }
    {
      shouldRenderSection('portfolio') && (
        <div class="mb-9 break-before-page">
          <PortfolioSection {...sections.portfolio} />
        </div>
      )
    }
    {
      shouldRenderSection('education') && (
        <div class="mb-7">
          <EducationSection {...sections.education} />
        </div>
      )
    }
    {
      shouldRenderSection('testimonials') && (
        <div class="">
          <TestimonialsSection {...sections.testimonials} />
        </div>
      )
    }
    {
      shouldRenderSection('favorites') && (
        <div class="mb-4">
          <FavoritesSection {...sections.favorites} />
        </div>
      )
    }
    {config.pdf?.footer && <Footer>{config.pdf.footer}</Footer>}
  </body>
</html>
